<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <meta property="og:title" content="스위터 - 세상을 달달하게"/>
    <meta property="og:description" content="mini project for Web Plus"/>
    <meta property="og:image" content="{{ url_for('static', filename='ogimg.png') }}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="{{ url_for('static', filename='myjs.js') }}"></script>

    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <!-- Font Awesome CSS -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='mystyle.css') }}" rel="stylesheet">
    <title>Home | SWEETER</title>

    <style>
        .mytitle {
            width: 100%;
            height: 280px;
            {#background-color: #5ECDB3;#}
            background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('http://ojsfile.ohmynews.com/STD_IMG_FILE/2021/0407/IE002786724_STD.jpg');
            background-position: center;
            background-size: cover;
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .mytitle > button {
            width: 200px;
            height: 50px;
            background-color: transparent;
            color: white;
            border-radius: 50px;
            border: 1px solid white;
            margin-top: 10px;
        }

        .mytitle > button:hover {
            border: 2px solid white;
        }

        .month {
            width: 95%;
            max-width: 600px;
            margin: 20px auto 0px auto;
            padding: 20px;
            box-shadow: 0px 0px 3px 0px gray;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            display: none;
        }

        .month > button {
            border: 1px solid black;
        }

        .month > button:hover {
            border: 2px solid black;
        }

        .btn_login {
            margin-right: auto;
        }

        .btn_login > button {
            margin: 10px 0px 10px auto;
            border: 1px solid black;
        }
        .btn_login > button:hover {
            border: 2px solid black;
        }

        .a_1 {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
        .a_1 > h5 {
            margin-right: 10px;
        }

        .a_2 {
            display: flex;
            flex-direction: row;
            align-items: center;

        }
        .a_2 > button {
            margin-right: 20px;
            background-color: transparent;
        }
    </style>
    <script>
        function btn_month() {
            $('#post_month').show()
        }

        $(document).ready(function () {
            listing();
        });

        function listing() {
            $.ajax({
                type: 'GET',
                url: '/festival',
                data: {},
                success: function (response) {

                    let rows = response['festivals']
                    for (let i = 0; i < rows.length; i++) {

                        let name = rows[i]['name']
                        let date = rows[i]['date']
                        let real_date = rows[i]['real_date']
                        let image_url = rows[i]['img_url']
                        let like = rows[i]['like']

                        let temp_html = `<div class="col">
                                            <div class="card">
                                                <img src=${image_url} class="card-img-top" alt="...">
                                                <div class="card-body">
                                                    <h5>${name}</h5>
                                                    <h5>${real_date}</h5>
                                                </div>
                                                <div class="a_2">
                                                <button><i class="fa fa-heart" aria-hidden="true"></i></button>
                                                </div>

                                            </div>
                                        </div>`
                        $('#cards-box').append(temp_html)


                    }
                }
            })
        }
        function January () {
            $.ajax({
                type: "GET",
                url: "/festival/group",
                data: {},
                success: function (response) {
                    $("#cards-box *").remove();

                    let rows = response['festivals']
                    for (let i = 0; i < rows.length; i++) {
                        let name = rows[i]['name']
                        let date = rows[i]['date']
                        let real_date = rows[i]['real_date']
                        let image_url = rows[i]['img_url']
                        let like = rows[i]['like']

                        if(date == "01")
                        {
                            let temp_html = `<div class="col">
                                            <div class="card">
                                                <img src=${image_url} class="card-img-top" alt="...">
                                                <div class="card-body">
                                                    <h5>${name}</h5>
                                                    <h5>${real_date}</h5>
                                                </div>
                                                <div class="a_2">
                                                <button><i class="fa fa-heart" aria-hidden="true"></i></button>
                                                </div>

                                            </div>
                                        </div>`
                        $('#cards-box').append(temp_html)
                        }

                    }
                }
            });
        }
        function February () {
            $.ajax({
                type: "GET",
                url: "/festival/group",
                data: {},
                success: function (response) {
                    $("#cards-box *").remove();

                    let rows = response['festivals']
                    for (let i = 0; i < rows.length; i++) {
                        let name = rows[i]['name']
                        let date = rows[i]['date']
                        let real_date = rows[i]['real_date']
                        let image_url = rows[i]['img_url']
                        let like = rows[i]['like']

                        if(date == "02")
                        {
                                                    let temp_html = `<div class="col">
                                            <div class="card">
                                                <img src=${image_url} class="card-img-top" alt="...">
                                                <div class="card-body">
                                                    <h5>${name}</h5>
                                                    <h5>${real_date}</h5>
                                                </div>
                                                <div class="a_2">
                                                <button><i class="fa fa-heart" aria-hidden="true"></i></button>
                                                </div>

                                            </div>
                                        </div>`
                        $('#cards-box').append(temp_html)
                        }

                    }
                }
            });
        }
        function March () {
            $.ajax({
                type: "GET",
                url: "/festival/group",
                data: {},
                success: function (response) {
                    $("#cards-box *").remove();

                    let rows = response['festivals']
                    for (let i = 0; i < rows.length; i++) {
                        let name = rows[i]['name']
                        let date = rows[i]['date']
                        let real_date = rows[i]['real_date']
                        let image_url = rows[i]['img_url']
                        let like = rows[i]['like']

                        if(date == "03")
                        {
                                                   let temp_html = `<div class="col">
                                            <div class="card">
                                                <img src=${image_url} class="card-img-top" alt="...">
                                                <div class="card-body">
                                                    <h5>${name}</h5>
                                                    <h5>${real_date}</h5>
                                                </div>
                                                <div class="a_2">
                                                <button><i class="fa fa-heart" aria-hidden="true"></i></button>
                                                </div>

                                            </div>
                                        </div>`
                        $('#cards-box').append(temp_html)
                        }

                    }
                }
            });
        }
        function April () {
            $.ajax({
                type: "GET",
                url: "/festival/group",
                data: {},
                success: function (response) {
                    $("#cards-box *").remove();

                    let rows = response['festivals']
                    for (let i = 0; i < rows.length; i++) {
                        let name = rows[i]['name']
                        let date = rows[i]['date']
                        let real_date = rows[i]['real_date']
                        let image_url = rows[i]['img_url']
                        let like = rows[i]['like']

                        if(date == "04")
                        {
                                                    let temp_html = `<div class="col">
                                            <div class="card">
                                                <img src=${image_url} class="card-img-top" alt="...">
                                                <div class="card-body">
                                                    <h5>${name}</h5>
                                                    <h5>${real_date}</h5>
                                                </div>
                                                <div class="a_2">
                                                <button><i class="fa fa-heart" aria-hidden="true"></i></button>
                                                </div>

                                            </div>
                                        </div>`
                        $('#cards-box').append(temp_html)
                        }

                    }
                }
            });
        }
        function May() {
            $.ajax({
                type: "GET",
                url: "/festival/group",
                data: {},
                success: function (response) {
                    $("#cards-box *").remove();

                    let rows = response['festivals']
                    for (let i = 0; i < rows.length; i++) {
                        let name = rows[i]['name']
                        let date = rows[i]['date']
                        let real_date = rows[i]['real_date']
                        let image_url = rows[i]['img_url']
                        let like = rows[i]['like']

                        if(date == "05")
                        {
                                                    let temp_html = `<div class="col">
                                            <div class="card">
                                                <img src=${image_url} class="card-img-top" alt="...">
                                                <div class="card-body">
                                                    <h5>${name}</h5>
                                                    <h5>${real_date}</h5>
                                                </div>
                                                <div class="a_2">
                                                <button><i class="fa fa-heart" aria-hidden="true"></i></button>
                                                </div>

                                            </div>
                                        </div>`
                        $('#cards-box').append(temp_html)
                        }

                    }
                }
            });
        }
        function June() {
            $.ajax({
                type: "GET",
                url: "/festival/group",
                data: {},
                success: function (response) {
                    $("#cards-box *").remove();

                    let rows = response['festivals']
                    for (let i = 0; i < rows.length; i++) {
                        let name = rows[i]['name']
                        let date = rows[i]['date']
                        let real_date = rows[i]['real_date']
                        let image_url = rows[i]['img_url']
                        let like = rows[i]['like']

                        if(date == "06")
                        {
                                                    let temp_html = `<div class="col">
                                            <div class="card">
                                                <img src=${image_url} class="card-img-top" alt="...">
                                                <div class="card-body">
                                                    <h5>${name}</h5>
                                                    <h5>${real_date}</h5>
                                                </div>
                                                <div class="a_2">
                                                <button><i class="fa fa-heart" aria-hidden="true"></i></button>
                                                </div>

                                            </div>
                                        </div>`
                        $('#cards-box').append(temp_html)
                        }

                    }
                }
            });
        }
        function July() {
            $.ajax({
                type: "GET",
                url: "/festival/group",
                data: {},
                success: function (response) {
                    $("#cards-box *").remove();

                    let rows = response['festivals']
                    for (let i = 0; i < rows.length; i++) {
                        let name = rows[i]['name']
                        let date = rows[i]['date']
                        let real_date = rows[i]['real_date']
                        let image_url = rows[i]['img_url']
                        let like = rows[i]['like']

                        if(date == "07")
                        {
                                                    let temp_html = `<div class="col">
                                            <div class="card">
                                                <img src=${image_url} class="card-img-top" alt="...">
                                                <div class="card-body">
                                                    <h5>${name}</h5>
                                                    <h5>${real_date}</h5>
                                                </div>
                                                <div class="a_2">
                                                <button><i class="fa fa-heart" aria-hidden="true"></i></button>
                                                </div>

                                            </div>
                                        </div>`
                        $('#cards-box').append(temp_html)
                        }

                    }
                }
            });
        }
        function August() {
            $.ajax({
                type: "GET",
                url: "/festival/group",
                data: {},
                success: function (response) {
                    $("#cards-box *").remove();

                    let rows = response['festivals']
                    for (let i = 0; i < rows.length; i++) {
                        let name = rows[i]['name']
                        let date = rows[i]['date']
                        let real_date = rows[i]['real_date']
                        let image_url = rows[i]['img_url']
                        let like = rows[i]['like']

                        if(date == "08")
                        {
                                                    let temp_html = `<div class="col">
                                            <div class="card">
                                                <img src=${image_url} class="card-img-top" alt="...">
                                                <div class="card-body">
                                                    <h5>${name}</h5>
                                                    <h5>${real_date}</h5>
                                                </div>
                                                <div class="a_2">
                                                <button><i class="fa fa-heart" aria-hidden="true"></i></button>
                                                </div>

                                            </div>
                                        </div>`
                        $('#cards-box').append(temp_html)
                        }

                    }
                }
            });
        }
        function September() {
            $.ajax({
                type: "GET",
                url: "/festival/group",
                data: {},
                success: function (response) {
                    $("#cards-box *").remove();

                    let rows = response['festivals']
                    for (let i = 0; i < rows.length; i++) {
                        let name = rows[i]['name']
                        let date = rows[i]['date']
                        let real_date = rows[i]['real_date']
                        let image_url = rows[i]['img_url']
                        let like = rows[i]['like']

                        if(date == "09")
                        {
                                                    let temp_html = `<div class="col">
                                            <div class="card">
                                                <img src=${image_url} class="card-img-top" alt="...">
                                                <div class="card-body">
                                                    <h5>${name}</h5>
                                                    <h5>${real_date}</h5>
                                                </div>
                                                <div class="a_2">
                                                <button><i class="fa fa-heart" aria-hidden="true"></i></button>
                                                </div>

                                            </div>
                                        </div>`
                        $('#cards-box').append(temp_html)
                        }

                    }
                }
            });
        }
        function October() {
            $.ajax({
                type: "GET",
                url: "/festival/group",
                data: {},
                success: function (response) {
                    $("#cards-box *").remove();

                    let rows = response['festivals']
                    for (let i = 0; i < rows.length; i++) {
                        let name = rows[i]['name']
                        let date = rows[i]['date']
                        let real_date = rows[i]['real_date']
                        let image_url = rows[i]['img_url']
                        let like = rows[i]['like']

                        if(date == "10")
                        {
                                                    let temp_html = `<div class="col">
                                            <div class="card">
                                                <img src=${image_url} class="card-img-top" alt="...">
                                                <div class="card-body">
                                                    <h5>${name}</h5>
                                                    <h5>${real_date}</h5>
                                                </div>
                                                <div class="a_2">
                                                <button><i class="fa fa-heart" aria-hidden="true"></i></button>
                                                </div>

                                            </div>
                                        </div>`
                        $('#cards-box').append(temp_html)
                        }

                    }
                }
            });
        }
        function Novemver() {
            $.ajax({
                type: "GET",
                url: "/festival/group",
                data: {},
                success: function (response) {
                    $("#cards-box *").remove();

                    let rows = response['festivals']
                    for (let i = 0; i < rows.length; i++) {
                        let name = rows[i]['name']
                        let date = rows[i]['date']
                        let real_date = rows[i]['real_date']
                        let image_url = rows[i]['img_url']
                        let like = rows[i]['like']

                        if(date == "11")
                        {
                                                    let temp_html = `<div class="col">
                                            <div class="card">
                                                <img src=${image_url} class="card-img-top" alt="...">
                                                <div class="card-body">
                                                    <h5>${name}</h5>
                                                    <h5>${real_date}</h5>
                                                </div>
                                                <div class="a_2">
                                                <button><i class="fa fa-heart" aria-hidden="true"></i></button>
                                                </div>

                                            </div>
                                        </div>`
                        $('#cards-box').append(temp_html)
                        }

                    }
                }
            });
        }
        function December() {
            $.ajax({
                type: "GET",
                url: "/festival/group",
                data: {},
                success: function (response) {
                    $("#cards-box *").remove();

                    let rows = response['festivals']
                    for (let i = 0; i < rows.length; i++) {
                        let name = rows[i]['name']
                        let date = rows[i]['date']
                        let real_date = rows[i]['real_date']
                        let image_url = rows[i]['img_url']
                        let like = rows[i]['like']

                        if(date == "12")
                        {
                                                    let temp_html = `<div class="col">
                                            <div class="card">
                                                <img src=${image_url} class="card-img-top" alt="...">
                                                <div class="card-body">
                                                    <h5>${name}</h5>
                                                    <h5>${real_date}</h5>
                                                </div>
                                                <div class="a_2">
                                                <button><i class="fa fa-heart" aria-hidden="true"></i></button>
                                                </div>

                                            </div>
                                        </div>`
                        $('#cards-box').append(temp_html)
                        }

                    }
                }
            });
        }

        function fes_Search()
        {
            let festival_list =[];
            let word = $("#search").val()
            $.ajax({
                type: 'GET',
                url: '/festival',
                data: {},
                success: function (response) {
                    $("#cards-box *").remove();
                    let rows = response['festivals']
                    for (let i = 0; i < rows.length; i++) {
                        festival_list.push(rows[i]["name"])

                        let name = rows[i]['name']
                        let date = rows[i]['date']
                        let real_date = rows[i]['real_date']
                        let image_url = rows[i]['img_url']
                        let like = rows[i]['like']

                        if (word == "") {
                            alert("값을 입력해주세요!!")
                            return
                        }
                        if (festival_list.includes(word))
                        {
                            let temp_html = `<div class="col">
                                            <div class="card">
                                                <div class="a_1">
                                                    <h5 class="card-title">${date}월</h5>
                                                </div>

                                                <img src=${image_url} class="card-img-top" alt="...">
                                                <div class="card-body">
                                                    <h5>${name}</h5>
                                                    <h5>${real_date}</h5>
                                                    <a href="/">지도(주소)</a>
                                                </div>

                                                <div class="a_2">
                                                <button><i class="fa fa-heart" aria-hidden="true"></i></button>
                                                <a href="/">사이트 바로가기</a>
                                                </div>

                                            </div>
                                        </div>`
                            $('#cards-box').append(temp_html)
                            break;
                        }

                    }
                }
            })



        }
    </script>

</head>
<body>

<!-- 상단 고정 메뉴 -->
<nav class="navbar is-transparent is-fixed-top nav-bg" role="navigation" aria-label="main navigation">
{#    <div class="navbar-brand">#}
{#        <a class="navbar-item" href="/">#}
{#            <img src="{{ url_for('static', filename='logo.png') }}">#}
{#            <strong class="is-sparta"#}
{#                    style="font-family: 'Stylish', sans-serif;font-size: larger;">SWEETER</strong>#}
{#        </a>#}
{#    </div>#}
    <!-- 로그인 회원가입 -->
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons" id="my-page" onclick="mypage('{{ user_info.username }}')">
          <a class="button is-primary">
            <strong>마이페이지</strong>
          </a>
{#          <a class="button is-light">회원가입</a>#}
        </div>
      </div>
    </div>
</nav>

<section class="hero is-white">
    <div class="hero-body has-text-centered mytitle" style="padding-bottom:1rem;margin:auto;">
        <h1 class="title is-sparta">✨항해 Festival✨</h1>
        <h3 class="subtitle is-sparta">모든 축제를 한눈에</h3>
        <button onclick="btn_month()">1월~12월 축제 확인하기</button>
    </div>
    <div class="month" id="post_month">
            <button onclick="January()">1월</button>
            <button onclick="February()">2월</button>
            <button onclick="March()">3월</button>
            <button onclick="April()">4월</button>
            <button onclick="May()">5월</button>
            <button onclick="June()">6월</button>
            <button onclick="July()">7월</button>
            <button onclick="August()">8월</button>
            <button onclick="September()">9월</button>
            <button onclick="October()">10월</button>
            <button onclick="Novemver()">11월</button>
            <button onclick="December()">12월</button>
            <input id="search" type="text" placeholder="검색어 입력"> <button onclick="fes_Search()">검색</button>
    </div>
</section>

    <div>
        <div class="row row-cols-1 row-cols-md-4 g-4" id="cards-box">

        </div>
    </div>

</body>
</html>
